<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-CRUD_APi-20151014121430.mdf;Initial Catalog=aspnet-CRUD_APi-20151014121430;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="dbConn_test" connectionString="Data source=172.24.16.112; Initial Catalog=TMWDES;  User Id=sa; Password=tdr9312"
      providerName="System.Data.SqlClient" />
    <add name="dbConn" connectionString="Data source=172.24.16.112; Initial Catalog=TMWSuite;  User Id=sa; Password=tdr9312"
      providerName="System.Data.SqlClient" />
    
    <add name="dbContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=dbContext-20151014212912; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|dbContext-20151014212912.mdf"
      providerName="System.Data.SqlClient" />
    <add name="CustomerContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=CustomerContext-20151014213046; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|CustomerContext-20151014213046.mdf"
      providerName="System.Data.SqlClient" />
    <add name="PersonContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=PersonContext-20151014213517; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|PersonContext-20151014213517.mdf"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsLogisticaSoap" />
                <binding name="BasicHttpBinding_IDispatchHorizonService" />
                <binding name="BasicHttpBinding_IWorkCycleService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://wslogistica.pilgrims.com.mx:8054/wsLogistica.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsLogisticaSoap"
                contract="WebServTest.wsLogisticaSoap" name="wsLogisticaSoap" />
            <endpoint address="http://10.176.163.68:8082/TMWSystemsLink_TMWGo/DispatchHorizonService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDispatchHorizonService"
                contract="TmwDispatchHorizonSvc.IDispatchHorizonService" name="BasicHttpBinding_IDispatchHorizonService" />
            <endpoint address="http://69.20.92.116:8082/TMWSystemsLinkExternal_TMWGo/WorkCycle/WorkCycleService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWorkCycleService"
                contract="WorkCycleService.IWorkCycleService" name="BasicHttpBinding_IWorkCycleService" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="WindowsFormsApp1_mx_com_pilgrims_wslogistica_wsLogistica"
                serializeAs="String">
                <value>http://wslogistica.pilgrims.com.mx:8054/wsLogistica.asmx</value>
            </setting>
            <setting name="dbConn" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApp1.Properties.Settings>
    </applicationSettings>
</configuration>